/* ----------------------hero---------------------------- */
.hero .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero .heroContent {
  width: 550px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  filter: drop-shadow(0 4px 4px #00000040);
  color: var(--black-color);
}
.hero .heroContent h1 {
  font-weight: 700;
  font-size: 48px;
}
.hero .heroContent p {
  line-height: 30px;
  text-align: justify;
}
/* ---------------------------booksCards-------------------------- */
.cards .container {
  margin-top: 100px;
  color: var(--black-color);
}
.cards h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 50px;
}
.cards .container .cardsBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .author {
    font-size: 15px;
    font-weight: 600;
  }
}
.cards .card .bookImg {
  width: 280px;
  height: 372px;
}
.cards .card div {
  display: flex;
  justify-content: space-between;
  p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 500;
  }
}
/* --------------------------about-------------------------------- */
.about .container {
  display: flex;
  justify-content: space-between;
  color: var(--black-color);
  flex-wrap: wrap;
}
.about .content {
  width: 570px;
  height: 468px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about .content h1 {
  font-weight: 600;
  font-size: 39px;
  margin-top: 40px;
}
.about .content p {
  text-align: justify;
  line-height: 24px;
}
.about form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  input::placeholder {
    color: #937dc299;
  }
  input {
    background-color: transparent;
    padding: 8px 0;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #937dc299;
  }
}
/* -------------------------media----------------------- */
@media (max-width: 767px) {
  .hero img {
    width: 100%;
    margin-top: 20px;
  }
  .hero .heroContent {
    width: max-content;
  }
  .about iframe {
    width: 100%;
  }
  .cards .container .cardsBody {
    justify-content: center;
  }
}
